:root {
  /*colors*/
  --dark-navy: #1f314f;
  --grey: #7d889e;
  --light-grey: #d5e1ef;
  --white: #ffffff;

  /*fonts*/
  --font-heading: 700 1.375rem Outfit, sans-serif;
  --font-body: 400 0.938rem Outfit, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr {
  width: 320px;
  height: 497px;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 1.25rem;
  box-shadow: 0 1.563rem 25px 0 hsla(0, 0%, 0%, 0.0477);
}

.qr__image {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.qr__title {
  margin-top: 1.5rem;
  color: var(--dark-navy);
  font: var(--font-heading);
  text-align: center;
}

.qr__description {
  margin: 1rem;
  color: var(--grey);
  font: var(--font-body);
  text-align: center;
}
